# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea/

# Lambda
#############################
**/pkg/
production.yml
.production.yml
.staging.yml

# Node
#############################
**/node_modules/
**/public/dist/
**/build/
npm-debug.log*
yarn-debug.log*
yarn-error.log
.DS_Store
jspm_packages
.serverless
.aws.env
*.log
.env.production
.env.production.bk

# Rails
#############################
*.rbc
capybara-*.html
.rspec
**/log
**/tmp
**/public/system
**/coverage/
**/spec/tmp
*.orig
rerun.txt
pickle-email-*.html
**/.bundle
**/vendor/bundle
.byebug_history
**/public/packs

**/config/initializers/secret_token.rb
**/config/master.key
*.enc
